---
import './hero.css';

---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Jason Villin</h1>
			
			
		</div>
    <img
		class="hero__img"
		src="/assets/Dev.png"
		alt="Jason Villin"
		width="384"
    	height="384"
	/>
	</div>
</section>
